apiVersion: v1
kind: ConfigMap
metadata:
  name: x402-function-backend-config
  namespace: x402-function
data:
  application.properties: |
    server.port=8086
    spring.application.name=x402-function-backend
    spring.profiles.active=staging
  application-staging.properties: |
    logging.level.root=INFO
    # demo git repo
    demo.git-repo.url=

    # x402 configuration
    x402.max-timeout-seconds=30
    x402.facilitator-base-url=https://www.x402.org/facilitator
    x402.enabled=true
    x402.default-pay-to=
    x402.network=base-sepolia
    x402.asset=0x036CbD53842c5426634e7929541eC2318f3dCF7e
    x402.scheme="exact"
    x402.extra.name=USDC
    x402.extra.version=2
    x402.asset-decimals=6
    x402.mimeType=application/json
        
    # for hive api
    hive.api.enable=true
    hive.api.base-url=${HIVE_API_BASE_URL:http://localhost:8080}
    hive.api.account=${HIVE_API_ACCOUNT:account-placeholder}
    hive.api.token=${HIVE_API_TOKEN:token-placeholder}
    hive.api.token-header-name=${HIVE_API_TOKEN_HEADER_NAME:token-header-placeholder}

    # knife4j config
    knife4j.enable=true
    knife4j.setting.language=en
    
    # management endpoints
    management.endpoints.enabled-by-default=true
    management.endpoints.web.base-path=/actuator
    management.endpoints.web.exposure.include=health,info,prometheus

    #cors
    app.cors.origins=
    app.cors.methods=GET,POST,PUT,DELETE,OPTIONS
    app.cors.headers=*
    app.cors.credentials=true
    app.cors.max-age=3600

